@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rock+Salt&display=swap');

:root {
    margin: 0;
    padding: 0;
    --font-rock-salt: "Rock Salt", cursive;
    --font-lato: "Lato", sans-serif;
    --light-gray: rgba(191, 191, 191);
    --dark-gray: rgba(65, 65, 65);
    --bright-red: rgba(225, 25, 43);
    --dark-red: rgba(138, 0, 0);
    --bright-yellow: rgba(251, 255, 79);
}

body,
div,
h1,
p,
main,
nav {
    margin: 0;
    padding: 0;
}

a,
p {
    text-decoration: none;
    color: black;
    font-family: var(--font-lato);
}

nav {
    grid-area: navigation
}

.body-div {
    grid-area: body
}
main {
    width: 100vw;
    max-width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: minmax(17vh, 10vw) 1fr;
        justify-content: center;
            grid-template-areas:
                    'navigation body body body body body';
}
.full-page-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-lato);
    text-align: center;
    line-height: 1.5rem;

    .congrats-header {
        margin: 1rem;
    }

    .modal {
        background-color: var(--bright-yellow);
        padding: 2rem 3rem;
        border: 3px solid black;
        position: relative;

        form {
            margin: 0.5rem;

            input {
                border: none;
                padding: 0.5rem 2rem;
            }


        }

        button {
            padding: 0.5rem 1rem;
            border: none;
            margin: 0.8rem;
            border: 1px solid rgba(239, 239, 239)
        }

        button:hover {
            cursor: pointer;
            border: 1px solid black;
            transition: 0.8s;
        }

        img {
            position: absolute;
            top: -28.5%;
            left: 50%;
            transform: rotate(9.9deg) translate(-50%, -28.5%);
            width: 300px;
        }
    }
}