.game-div {
    position: relative;
    overflow: true;
    
    .map-container {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
            width: 100%;
            height: auto;
        }
        .clicked-div {
            width: 2.5vh;
            height: 2.5vh;
            pointer-events: none;
        }
        
        .onClick-modal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 3vh;
            background-color: white;
            z-index: 1000;
            .small-square-div {
                border: 1px solid black;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                img {
                width: 4vh;
                height: 4vh;
                object-fit: scale-down;
                }
            }
        }   
    }
}