.leaderboard-div {
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    font-family: var(--font-lato);
    display: flex;
    justify-content: center;


    h2 {

        font-family: var(--font-rock-salt);
        font-size: 1rem;
        color: var(--dark-red);
        padding: 0;
        line-height: 1.35rem;
        margin-bottom: 2rem;
    }

    .chart {
        padding: 1rem;
        width: 33.3333%;
        max-width: 400px;
        text-align: center;
        border: 0.1px solid black;
        margin: 1rem;
        margin-top: 3rem;
        height: auto;
        small {
            font-size: 1rem;
            font-weight: 300;
            font-family: var(--font-lato);
            color: black;
        }
        .player-data{
            margin-top: 1rem;
            .player-name{
                font-weight: 300;
                font-size: 1.2rem;
                font-style: italic;
            }
        }
    }
    
   
}